@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

#first-window {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100vw;
  height: 100vh;

  background: #1A090D;
}

.simple-window {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 542px;
  min-width: 350px;
  height: 25vh;

  margin: 0 5rem;

  background: #767b9136;
  color: #FFE0B5;

  box-shadow: 0px 0px 50px #000000;

  border-radius: .75rem;
}

.simple-window header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  background: #1A090D;

  width: 100%;
  padding: .5rem 0;

  font-size: 15px;
}

.sw-btns {
  display: flex;
  gap: .5rem;

  margin-left: 1rem;
}

.sw-btn-red {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;
  outline: none;

  width: 22px;
  height: 22px;

  background: #9E2B25;

  cursor: pointer;

  transition: .2s;
} .sw-btn-red:hover {
  background: #681410;
} .sw-btn-blue {
  border: none;
  border-radius: 50%;
  outline: none;

  width: 22px;
  height: 22px;

  background: #80FFE8;
} .sw-btn-yellow {
  border: none;
  border-radius: 50%;
  outline: none;

  width: 22px;
  height: 22px;

  background: #FFE0B5;
}

.sw-title {
  margin-right: 40%;
}

.simple-window main {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80%;

  padding: 0 3rem;
}

.sw-content {
  font-weight: thin;

  font-size: 1rem;
}