@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

/* ANIMATIONS */
@keyframes fwPopWindow {
  0% {
    width: 350px;
    height: 2vh;

    font-size: .5rem;
    color: transparent;
  }

  70%{
    color: transparent;
  }

  100% {
    width: 542px;
    height: 25vh;

    font-size: 1rem;
  }
}

/* CSS */

#first-window {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100vw;
  height: 100vh;

  background: #1A090D;
}

.simple-window {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 542px;
  min-width: 350px;
  height: 25vh;

  margin: 0 5rem;

  background: #767b9136;
  /* backdrop-filter: blur(12.5px); */
  color: #FFE0B5;

  box-shadow: 0px 0px 100px #000000;

  border-radius: .75rem;

  animation: 1.5s ease fwPopWindow;
}

.simple-window header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  background: #1A090D;

  width: 100%;
  padding: .5rem 0;

  font-size: 15px;
}

.sw-btns {
  display: flex;
  gap: .5rem;

  margin-left: 1rem;
}

.sw-btn-red {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;
  outline: none;

  width: 22px;
  height: 22px;

  background: #9E2B25;

  cursor: pointer;

  transition: .2s;
} .sw-btn-red:hover {
  background: #681410;
} .sw-btn-blue {
  border: none;
  border-radius: 50%;
  outline: none;

  width: 22px;
  height: 22px;

  background: #80FFE8;
} .sw-btn-yellow {
  border: none;
  border-radius: 50%;
  outline: none;

  width: 22px;
  height: 22px;

  background: #FFE0B5;
}

.sw-title {
  margin-right: 40%;
}

.simple-window main {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 80%;

  padding: 0 3rem;
}

.sw-content {
  font-weight: thin;

  font-size: 1rem;
}

/* DESKTOP */

#desktop {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background: #1A090D;
}

#back-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

  filter: blur(1px);
  opacity: .55;
}

#desktop-content{
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* FOLDERS */

.folder-desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: .5rem;
  border-radius: .55rem;
  border: none;
  background: none;

  color: #FFE0B5;

  transition: .2s;
} .folder-desk:hover {
  background: #ffe0b534;
  color: #9E2B25;

  cursor: pointer;
} .folder-desk h2 {
  font-size: .8rem;
  font-weight: normal;
} .folder-icon {
  height: 10vh;
}

.folder-window {
  position: fixed;

  display: none;
  flex-direction: column;
  align-items: center;

  width: 70vw;
  min-width: 350px;
  height: 682px;

  /* margin: 0 5rem; */

  background: #767b9136;
  backdrop-filter: blur(12.5px);
  color: #FFE0B5;

  box-shadow: 0px 0px 100px #000000;

  border-radius: .75rem;
} .folder-window header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  background: #1A090D;

  width: 100%;
  padding: .5rem 0;

  font-size: 15px;
}

.folder-window main {
  width: 100%;
  height: 90%;
}

.fw-btns {
  display: flex;
  gap: .5rem;

  margin-left: 1rem;
} .fw-btn-red {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 50%;
  outline: none;

  width: 22px;
  height: 22px;

  background: #9E2B25;

  cursor: pointer;

  transition: .2s;
} .fw-btn-red:hover {
  background: #681410;
} .fw-btn-blue {
  border: none;
  border-radius: 50%;
  outline: none;

  width: 22px;
  height: 22px;

  background: #80FFE8;
} .fw-btn-yellow {
  border: none;
  border-radius: 50%;
  outline: none;

  width: 22px;
  height: 22px;

  background: #FFE0B5;
} .fw-title {
  margin-right: 45%;
}

.folder-window main {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #000000;

  height: 100%;
}

/* CONTENTS OF FOLDERS */

#content-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  background: #1A090D;

  width: 80%;
  height: 90%;
}

.social-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  
  color: #FFF8F0;
  background: #c9648133;

  padding: 1.5rem 3rem;
  border-radius: .75rem;
}

.social-card img {
  height: 150px;
  border-radius: 50%;
}

.social-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: .5rem;
} .social-card-content h1 {
  font-size: 1.7rem;
  font-weight: normal;
} .social-card-content div {
  display: flex;
  align-items: center;
  gap: 1rem;
} .social-card-content button {
  background: transparent;
  outline: none;
  border: none;
} .social-card-content svg {
  padding: .5rem;
  border-radius: .75rem;

  filter: invert(100%);

  transition: .5s;
} .social-card-content svg:hover {
  background: #6814107a;
  padding: .7rem;
  border-radius: .75rem;
  cursor: pointer;
} .portfolio {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 8rem;
  
  transition: .5s;
} .portfolio:hover {
  cursor: pointer;

  text-decoration: underline;
} .portfolio:hover::after {
  content: url(../public/link.svg);

  filter: invert(100%);
  position: fixed;
  margin-left: 7.8rem;
}

.text-area{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  width: 80%;
} .text-area img{
  height: 10rem;
}  .text-area p{
  color: #FFF8F0;
}